services:
  api-gateway:
    build:
      context: . # Asume que el Dockerfile está en 'api_gateway/'
      dockerfile: api-gateway/Dockerfile
    ports:
      - "8083:8083" # Puerto público de la Gateway (Host:Container)
    environment:
      - SERVER_PORT=8083 # Puerto interno del contenedor

      # --- Configuración de Redis (RE-AGREGADA) ---
      - SPRING_REDIS_HOST=redis_db
      - SPRING_REDIS_PORT=6379

      # --- Rutas de la Gateway (Anulando application.yml para Docker) ---

      # Ruta para MS-SOLICITUD (usa el nombre del servicio y puerto INTERNO)
      - SPRING_CLOUD_GATEWAY_ROUTES_0_ID=solicitudes
      - SPRING_CLOUD_GATEWAY_ROUTES_0_URI=http://ms_solicitud:8080 # Puerto interno de ms_solicitud
      - SPRING_CLOUD_GATEWAY_ROUTES_0_PREDICATES_0=Path=/api/v1/solicitudes/**, /api/v1/clientes/**, /api/v1/tarifas/**, /api/v1/contenedores/**

      # Ruta para MS-RUTAS (usa el nombre del servicio y puerto INTERNO)
      - SPRING_CLOUD_GATEWAY_ROUTES_1_ID=rutas
      - SPRING_CLOUD_GATEWAY_ROUTES_1_URI=http://ms_rutas:8085 # Puerto interno de ms_rutas
      - SPRING_CLOUD_GATEWAY_ROUTES_1_PREDICATES_0=Path=/api/v1/rutas/**, /api/v1/depositos/**, /api/v1/camioneros/**, /api/v1/camiones/**, /api/v1/tramos/**

    networks: [ app-net ] # Se une a tu red
    depends_on:
      - ms_solicitud
      - ms_rutas
  ms_rutas:
    build:
      context: .
      dockerfile: ms_rutas/Dockerfile
    ports: ["8060:8085"]
    environment:
      - SERVER_PORT=8085
      - APP_SOLICITUD_BASE_URL=http://ms_solicitud:8080
    depends_on:
      - ms_solicitud
    networks: [app-net]

  ms_solicitud:
    build:
      context: .
      dockerfile: ms_solicitud/Dockerfile
    ports: ["8061:8080"]
    environment:
      - SERVER_PORT=8080
    networks: [app-net]

networks:
  app-net:
    driver: bridge