version: '3.9'

services:

  keycloak:
    image: quay.io/keycloak/keycloak:24.0.3
    container_name: keycloak
    command: start-dev --health-enabled=true --import-realm
    ports:
      - "8080:8080"
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    networks: [backend]
    volumes:
      - ./realms:/opt/keycloak/data/import
      - keycloak-data:/opt/keycloak/data

  ms-solicitud:
    build:
      context: .
      dockerfile: ms_solicitud/Dockerfile
    container_name: ms-solicitud
    ports:
      - "8081:8081"
    environment:
      SERVER_PORT: 8081
      APP_MS_RUTAS_BASE_URL: http://ms-rutas:8085
    networks: [backend]
    depends_on: [keycloak]
    volumes:
      - solicitudes-data:/data

  ms-rutas:
    build:
      context: .
      dockerfile: ms_rutas/Dockerfile
    container_name: ms-rutas
    ports:
      - "8085:8085"
    environment:
      SERVER_PORT: 8085
    networks: [backend]
    depends_on: [keycloak, ms-solicitud]
    volumes:
      - rutas-data:/data

  api-gateway:
    build:
      context: .
      dockerfile: api-gateway/Dockerfile
    container_name: api-gateway
    ports:
      - "8083:8083"
    environment:
      SPRING_PROFILES_ACTIVE: docker
    networks: [backend]
    depends_on: [ms-solicitud, ms-rutas, keycloak]

  osrm:
    image: ghcr.io/project-osrm/osrm-backend:v6.0.0
    container_name: osrm
    command: >
      osrm-routed /data/argentina-251114.osrm
    ports:
      - "5000:5000"
    volumes:
      - ./osrm-data:/data
    networks: [ backend ]


networks:
  backend:
    driver: bridge

volumes:
  keycloak-data:
  solicitudes-data:
    driver: local
  rutas-data:
    driver: local
