services:
  osrm:
    image: ghcr.io/project-osrm/osrm-backend:v6.0.0
    platform: linux/amd64
    container_name: osrm
    ports:
      - "5000:5000"
    volumes:
      - ./osrm-data:/data
    command: >       
            osrm-routed /data/argentina-251114.osrm