services:
  # --- 1. KEYCLOAK ---
  keycloak:
    image: quay.io/keycloak/keycloak:24.0.3
    container_name: keycloak
    command: start-dev --health-enabled=true
    ports:
      - "8080:8080"
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin123
    networks:
      - backend

  # --- 2. API GATEWAY  ---
  api-gateway:
    build:
      context: .
      dockerfile: api-gateway/Dockerfile
    ports: ["8083:8083"]
    environment:
      - SERVER_PORT=8083
    restart: on-failure
    networks:
      - backend
    depends_on:
      ms_rutas:
        condition: service_started
      ms_solicitud:
        condition: service_started
      keycloak:
        condition: service_started

  # --- 3. MICROSERVICIOS ---
  ms_rutas:
    build:
      context: .
      dockerfile: ms_rutas/Dockerfile
    ports: ["8085:8085"]
    environment:
      - SERVER_PORT=8085
      - APP_SOLICITUD_BASE_URL=http://ms_solicitud:8081
    depends_on:
      - ms_solicitud
    networks:
      - backend

  ms_solicitud:
    build:
      context: .
      dockerfile: ms_solicitud/Dockerfile
    ports:
      - "8081:8081"
    environment:
      - SERVER_PORT=8081
    networks:
      - backend

  osrm:
    image: ghcr.io/project-osrm/osrm-backend:v6.0.0
    platform: linux/amd64
    container_name: osrm
    ports:
      - "5000:5000"
    volumes:
      - ./osrm-data:/data
    command: >
      osrm-routed /data/argentina-251114.osrm

networks:
  backend:
    driver: bridge