services:
  api-gateway:
    build:
      context: .  # Asegúrate que esta ruta es correcta. Si el Dockerfile está en la raíz, usa context: .
      dockerfile: api-gateway/Dockerfile
    ports:
      - "8080:8080"
    networks:
      - backend
  ms_rutas:
    build:
      context: .
      dockerfile: ms_rutas/Dockerfile
    ports: ["8085:8085"]
    environment:
      - SERVER_PORT=8085
      - APP_SOLICITUD_BASE_URL=http://ms_solicitud:8081
    depends_on:
      - ms_solicitud
    networks:
      - backend

  ms_solicitud:
    build:
      context: .
      dockerfile: ms_solicitud/Dockerfile
    ports:
      - "8081:8081"
    environment:
      - SERVER_PORT=8081
    networks:
      - backend

networks:
  backend:
    driver: bridge
