version: '3.9'

services:

  keycloak:
    image: quay.io/keycloak/keycloak:24.0.3
    container_name: keycloak
    command: start-dev --health-enabled=true --import-realm
    ports:
      - "8080:8080"
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    networks: [backend]
    volumes:
      - ./realms:/opt/keycloak/data/import
      - keycloak-data:/opt/keycloak/data

  ms_solicitud:
    build:
      context: .
      dockerfile: ms_solicitud/Dockerfile
    container_name: ms_solicitud
    ports:
      - "8081:8081"
    environment:
      SERVER_PORT: 8081
      APP_MS_RUTAS_BASE_URL: http://ms_rutas:8085
    networks: [backend]
    depends_on: [keycloak]
    volumes:
      - solicitudes-data:/data

  ms_rutas:
    build:
      context: .
      dockerfile: ms_rutas/Dockerfile
    container_name: ms_rutas
    ports:
      - "8085:8085"
    environment:
      SERVER_PORT: 8085
    networks: [backend]
    depends_on: [keycloak, ms_solicitud]
    volumes:
      - rutas-data:/data

  api-gateway:
    build:
      context: .
      dockerfile: api-gateway/Dockerfile
    container_name: api_gateway
    ports:
      - "8083:8083"
    environment:
      SPRING_PROFILES_ACTIVE: docker
    networks: [backend]
    depends_on: [ms_solicitud, ms_rutas, keycloak]

networks:
  backend:
    driver: bridge

volumes:
  keycloak-data:
  solicitudes-data:
    driver: local
  rutas-data:
    driver: local
