spring:
  application:
    name: api-gateway

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://keycloak:8080/realms/tp_backend
          jwk-set-uri: http://keycloak:8080/realms/tp_backend/protocol/openid-connect/certs

          #http://keycloak:8080/realms/tp_backend
          #jwk-set-uri: http://keycloak:8080/realms/tp_backend/protocol/openid-connect/certs

  #    client:
   #     provider:
    #      keycloak:
     #       issuer-uri: http://keycloak:8080/realms/tp_backend
      #  registration:
       #   keycloak:
        #    client-id: tp_backend
         #   authorization-grant-type: authorization_code
          #  redirect-uri: "{baseUrl}/login/oauth2/code/keycloak"
           # scope: openid, profile, email

  cloud:
    gateway:
      routes:
        - id: ms-solicitud
          uri: "http://ms_solicitud:8081/"
          predicates:
            - Path=/api/v1/solicitudes/**
          filters:
            - StripPrefix=0

        - id: ms-rutas
          uri: "http://ms_rutas:8085/"
          predicates:
            - Path=/api/v1/rutas/**
          filters:
            - StripPrefix=0

      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
              - PATCH
            allowedHeaders: "*"
            maxAge: 3600
            allowCredentials: false

server:
  port: 8083

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,gateway
  endpoint:
    health:
      show-details: always

logging:
  level:
    org.springframework.cloud.gateway: INFO
    com.example.api_gateway: DEBUG
    org.springframework.security: DEBUG
  pattern:
    console: "%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"


