server:
  port: 8083

spring:
  application:
    name: api-gateway

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://keycloak:8080/realms/tp_backend
      client:
        provider:
          keycloak:
            issuer-uri: http://keycloak:8080/realms/tp_backend
        registration:
          keycloak:
            client-id: tp_backend_client
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            scope:
              - openid
              - profile
              - email

  cloud:
    gateway:
      routes:
        - id: solicitudes
          uri: "http://ms_solicitud:8081"
          predicates:
            - Path=/api/v1/solicitudes/**, /api/v1/clientes/**, /api/v1/tarifas/**, /api/v1/contenedores/**
        - id: rutas
          uri: "http://ms_rutas:8085"
          predicates:
            - Path=/api/v1/rutas/**,/api/v1/depositos/**,/api/v1/camioneros/**,/api/v1/camiones/**,/api/v1/tramos/**

      globalcors:
        corsConfigurations:
          "[/**]":
            allowedOrigins: "*"
            allowedMethods: "*"
            allowedHeaders: "*"
            allowCredentials: true

management:
  endpoints:
    web:
      exposure:
        include: "health,info,gateway"
