spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:

        # --------------------- RUTAS SERVICE ---------------------
        - id: ms-rutas
          uri: http://ms_rutas:8085
          predicates:
            - Path=/api/v1/rutas/**
            - Path=/api/v1/ciudades/**
            - Path=/api/v1/rutas/tramos/**
            - Path=/api/v1/rutas/camiones/**
            - Path=/api/v1/rutas/depositos/**

        # ------------------ SOLICITUD SERVICE ---------------------
        - id: ms-solicitud
          uri: http://ms_solicitud:8081
          predicates:
            - Path=/api/v1/solicitudes/**
            - Path=/api/v1/tarifas/**
            - Path=/api/v1/contenedores/**
            - Path=/api/v1/clientes/**

      # ---------------------- GLOBAL CORS -------------------------
      globalcors:
        cors-configurations:
          "[/**]":
            allowedOrigins: "*"
            allowedMethods: "*"
            allowedHeaders: "*"
            maxAge: 3600

server:
  port: 8083

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,gateway
  endpoint:
    health:
      show-details: always

logging:
  level:
    org.springframework.cloud.gateway: INFO
    com.example.api_gateway: DEBUG
  pattern:
    console: "%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"

