spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: routes-service
          uri: "http://ms_rutas:8085"
          predicates:
            - Path=/api/rutas/**
            - Path=/api/camiones/**
            - Path=/api/ubicaciones/**
            - Path=/api/tramos/**
            - Path=/api/camiones/**
            - Path=/api/depositos/**
        - id: solicitud-service
          uri: "http://ms_solicitud:8081"
          predicates:
            - Path=/api/solicitudes/**
            - Path=/api/tarifas/**
            - Path=/api/contenedores/**
            - Path=/api/clientes/**

      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            maxAge: 3600

server:
  port: 8083

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,gateway
  endpoint:
    health:
      show-details: always

logging:
  level:
    org.springframework.cloud.gateway: INFO
    com.example.gateway: DEBUG
  pattern:
    console: "%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"
