server:
  port: 8083

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      # Rutas de entrada
      routes:
        - id: solicitudes
          uri: http://ms_solicitud:8080
          predicates:
            - Path=/api/v1/(solicitudes|clientes|tarifas|contenedores)/**
        - id: rutas
          uri: http://ms_rutas:8085
          predicates:
            - Path=/api/v1/(rutas|depositos|camioneros|camiones|tramos)/**
      # CORS global (podés ajustar orígenes)
      globalcors:
        corsConfigurations:
          "[/**]":
            allowedOrigins: "*"
            allowedMethods: "*"
            allowedHeaders: "*"
            allowCredentials: true

management:
  endpoints:
    web:
      exposure:
        include: "health,info,gateway"
